$background-light-color: #fff;
$font-stack: Commissioner, sans-serif;
$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
$dark-gray: hsl(0, 0%, 48%);
$black: hsl(0, 0%, 0%);
$text-gray: #7a7a7a;
$text-black: #000;
$text-white: #fff;
